<div class="contenedor-login">

    <img class="img-login" src="../../../assets/images/login undraw.svg" alt="">

    <form class="formulario" action="">
        <div class="correo">
            <p class="form-label">Correo:</p>
            <input class="form-control" placeholder="usuario@correo.com" type="email" name="" id="">
        </div>
        <div class="contraseña">
            <p class="form-label" >Contraseña:</p>
            <input class="form-control" placeholder="contraseña" type="password" name="" id="">
        </div>
        <button type="button" class="btn btn-success"> Iniciar Session </button>
        <div class="acciones">
            <p>Registrate</p>
            <p class="mr">Olvidé mi contraseña</p>
        </div>
    </form>
    <div class="derechos">
        <img src="../../../assets/images/LogoFastMarket2.svg" alt="">
        Todos los derechos reservados. <br>
        FastMarket, 2021
    </div>
</div>
