<div class="contenedor-vistas">
    <div class="contenedor-productos">
        <div class="area-banner" style="background-image: url('../../../assets/images/bk-background.jpg');">
            <div class="titulo"> 
                <p> <fa-icon routerLink=".." routerLinkActive="router-link-active"  [icon]="faArrowLeft" ></fa-icon> {{nombreComercio}}</p>
            </div>
        </div>
        <div class="area-productos">
            <div class="productos row">
                <div class="producto shadow" *ngFor="let producto of productos">
                    <div class="datos-producto">
                        <div class="nombre"> {{producto.NombreProducto}}</div> 
                        <div class="descripcion">{{producto.Descripcion}}.</div>
                        <div class="precio"> L. {{producto.Precio}}
                        </div>
                    </div>
                    <img class="img-producto" src="../../../assets/images/productos/{{producto.ImagenProducto}}" alt="Restaurantes">
                </div>
                
            </div>
        </div>
    </div>
</div>
