<div class="contenedor-vistas">
    <div class="contenedor-productos">
        <div class="area-banner" style="background-image: url('../../../assets/images/bk-background.jpg');">
            <div class="titulo"> 
                <p>Burger King</p>
            </div>
        </div>
        <div class="area-productos">
            <div class="productos row">
                <div class="producto shadow">
                    <div class="datos-producto">
                        <div class="nombre"> Whopper
                            <div class="calificacion"> 4.8  </div>
                        </div> 
                        <div class="descripcion">1/4 de libra de sabrosa carne a la parrilla.</div>
                        <div class="precio"> L. 185
                        </div>
                    </div>
                    <img class="img-producto" src="../../../assets/images/productos/whopper.jpg" alt="Restaurantes">
                </div>
                <div class="producto shadow">
                    <div class="datos-producto">
                        <div class="nombre"> Whopper
                            <div class="calificacion"> 4.8  </div>
                        </div> 
                        <div class="descripcion">1/4 de libra de sabrosa carne a la parrilla.</div>
                        <div class="precio"> L. 185
                        </div>
                    </div>
                    <img class="img-producto" src="../../../assets/images/productos/whopper.jpg" alt="Restaurantes">
                </div>
                <div class="producto shadow">
                    <div class="datos-producto">
                        <div class="nombre"> Whopper
                            <div class="calificacion"> 4.8  </div>
                        </div> 
                        <div class="descripcion">1/4 de libra de sabrosa carne a la parrilla.</div>
                        <div class="precio"> L. 185
                        </div>
                    </div>
                    <img class="img-producto" src="../../../assets/images/productos/whopper.jpg" alt="Restaurantes">
                </div>
            </div>
        </div>
    </div>
</div>
