<app-barra-superior></app-barra-superior>
<div class="contenedor-tarjeta">
    <div class="titulo">
        <fa-icon [routerLink]="['/categorias']" routerLinkActive="router-link-active"  [icon]="faArrowLeft" ></fa-icon>
        Forma de Pago
    </div>
    <div class="datos-tarjeta">
        <div class="frontal">
            <fa-icon [icon]="faCcMastercard"></fa-icon>
            <fa-icon [icon]="faCcVisa"></fa-icon>
            <label>¡Agrega tu Tarjeta! Cuidaremos bien de ella.</label>
        </div>
        <div class="datos">
            <form [formGroup]="formularioTarjeta">
                <label> Titular de la Tarjeta </label>
                <input formControlName="NombreTarjeta" placeholder="Nombre de la tarjeta" class="form-control" type="text">
                <label> Número de la Tarjeta </label>
                <input formControlName="Numero" placeholder="Dígitos de la tarjeta sin espacio" class="form-control" type="number">
                <div class="datos-2">
                    <div>
                        <label> Fecha de Vencimiento</label>
                        <input formControlName="FechaVencimiento" placeholder="MM/AA" class="form-control"  type="text">
                    </div>
                    <div>
                        <label>CVV</label> 
                        <input formControlName="CVV" placeholder="123"  class="form-control" type="number">
                    </div>
                    
                </div>
            </form>
        </div>
        <button [disabled]="(btnEditar || !formularioTarjeta.valid)" (click)="editarTarjeta()" class="btn"> Editar Tarjeta</button>
    </div>
</div>