<div class="contenedor-vistas">
    <div class="contenedor-comercios">
        <div class="area-comercios">
            <div class="titulo"> 
                <p>
                    <fa-icon [routerLink]="['/categorias']" routerLinkActive="router-link-active"  [icon]="faArrowLeft" ></fa-icon>
                    {{categoriaURL}}
                </p>
            </div>
            <div class="comercios row">
                <div class="comercio" *ngFor="let comercio of comercios"  routerLink="/{{path}}/{{comercio._id}}" routerLinkActive="router-link-active">
                    <img class="img-comercio" src="../../../assets/images/{{comercio.ImagenComercio}}" alt="{{comercio.NombreComercio}}">
                    <div class="datos-comercio">
                        <div class="nombre"> {{comercio.NombreComercio}}
                            <div class="calificacion"> {{comercio.Calificacion}} <fa-icon [icon]="faStar"></fa-icon> </div>
                        </div> 
                        <div class="direccion">{{comercio.Direccion}}</div>
                        <div class="horario"> <fa-icon class="mr-1" [icon]="faClock"></fa-icon>   {{comercio.Horario}}
                            <div class="envio"> <fa-icon class="mr-1" [icon]="faMoneyBillAlt"></fa-icon>L. {{comercio.CostoEnvio}}</div>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
