<div class="contenedor-vistas">
    <div class="contenedor-comercios">
        <div class="area-comercios">
            <div class="titulo"> 
                <p>
                    <fa-icon [routerLink]="['/categorias']" routerLinkActive="router-link-active"  [icon]="faArrowLeft" ></fa-icon>
                    Restaurantes:
                </p>
            </div>
            <div class="comercios row">
                <div class="comercio">
                    <img class="img-comercio" src="../../../assets/images/bk.jpg" alt="Restaurantes">
                    <div class="datos-comercio">
                        <div class="nombre"> Burger King
                            <div class="calificacion"> 4.8 <fa-icon [icon]="faStar"></fa-icon> </div>
                        </div> 
                        <div class="direccion">Blvd Suyapa, frente a UNAH</div>
                        <div class="horario"> <fa-icon class="mr-1" [icon]="faClock"></fa-icon>   08:00-21:00
                            <div class="envio"> <fa-icon class="mr-1" [icon]="faMoneyBillAlt"></fa-icon>L. 35</div>
                        </div>
                        

                    </div>
                </div>
                <div class="comercio">
                    <img class="img-comercio" src="../../../assets/images/Wendy_s-logo.jpg" alt="Restaurantes">
                    <div class="datos-comercio">
                        <div class="nombre"> Wendys
                            <div class="calificacion"> 4.8 <fa-icon [icon]="faStar"></fa-icon> </div>
                        </div> 
                        <div class="direccion">Blvd Suyapa, frente a UNAH</div>
                        <div class="horario"> <fa-icon class="mr-1" [icon]="faClock"></fa-icon>   08:00-21:00
                            <div class="envio"> <fa-icon class="mr-1" [icon]="faMoneyBillAlt"></fa-icon>L. 35</div>
                        </div>
                        

                    </div>
                </div>
                <div class="comercio">
                    <img class="img-comercio" src="../../../assets/images/popeyes.png" alt="Restaurantes">
                    <div class="datos-comercio">
                        <div class="nombre"> Popeyes
                            <div class="calificacion"> 4.8 <fa-icon [icon]="faStar"></fa-icon> </div>
                        </div> 
                        <div class="direccion">Blvd Suyapa, frente a UNAH</div>
                        <div class="horario"> <fa-icon class="mr-1" [icon]="faClock"></fa-icon>   08:00-21:00
                            <div class="envio"> <fa-icon class="mr-1" [icon]="faMoneyBillAlt"></fa-icon>L. 35</div>
                        </div>
                        

                    </div>
                </div>
                <div class="comercio">
                    <img class="img-comercio" src="../../../assets/images/pizza.jpg" alt="Restaurantes">
                    <div class="datos-comercio">
                        <div class="nombre"> Pizza Hut
                            <div class="calificacion"> 4.8 <fa-icon [icon]="faStar"></fa-icon> </div>
                        </div> 
                        <div class="direccion">Blvd Suyapa, frente a UNAH</div>
                        <div class="horario"> <fa-icon class="mr-1" [icon]="faClock"></fa-icon>   08:00-21:00
                            <div class="envio"> <fa-icon class="mr-1" [icon]="faMoneyBillAlt"></fa-icon>L. 35</div>
                        </div>
                        

                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
