<div class="contenedor-vistas">
    <div class="contenedor-categorias">
        <div class="area-categorias">
            <div class="titulo"> Categorias:</div>
            <div class="categorias row">
                <div class="categoria col-6">
                    <img class="img-categoria" src="../../../assets/images/hamburguesa.jpg" alt="Restaurantes">
                    <div class="datos-categoria">Restaurantes
                        <p>3 Comercios</p>
                    </div>
                </div>
                <div class="categoria col-6">
                    <img class="img-categoria" src="../../../assets/images/supermercado.jpg" alt="Supermercado">
                    <div class="datos-categoria">Supermercado
                        <p>3 Comercios</p>
                    </div>
                </div>
                <div class="categoria col-6">
                    <img class="img-categoria" src="../../../assets/images/bebidas.jpg" alt="Bebidas">
                    <div class="datos-categoria">Bebidas
                        <p>3 Comercios</p>
                    </div>
                </div>
                <div class="categoria col-6">
                    <img class="img-categoria" src="../../../assets/images/farmacia.jpg" alt="Farmacias">
                    <div class="datos-categoria">Farmacias
                        <p>3 Comercios</p>
                    </div>
                </div>
                <div class="categoria col-6">
                    <img class="img-categoria" src="../../../assets/images/cafes.jpg" alt="Cafeterias">
                    <div class="datos-categoria">Cafeterias
                        <p>3 Comercios</p>
                    </div>
                </div>
                <div class="categoria col-6">
                    <img class="img-categoria" src="../../../assets/images/mascotas.png" alt="Mascotas">
                    <div class="datos-categoria">Mascotas
                        <p>3 Comercios</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
