<div class="contenedor-registro">
    <div class="registrate">
        <img src="../../../assets/images/LogoFastMarket2.svg" alt="">
        <h3>Regístrate!</h3>
    </div>
    <div class="formulario-registro">
        <div class="form-label" >
            Nombre:
            <input class="form-control" placeholder="Nombre" type="text" name="" id="">
        </div>
        <div class="form-label" >
            Correo:
            <input class="form-control" placeholder="usuario@correo.com" type="email" name="" id="">
        </div>
        <div class="form-label" >
            Número de Teléfono:
            <input class="form-control" placeholder="+(504)" type="tel" name="" id="">
        </div>
        <div class="form-label" >
            Contraseña:
            <input class="form-control" placeholder="8 caracteres mínimo" type="password" name="" id="">
        </div>
        <div class="form-label" >
            Confirmar Contraseña:
            <input class="form-control" placeholder="8 caracteres mínimo" type="password" name="" id="">
        </div>
        <button class="btn btn-success" type="button"> Registrarme</button>
        <div class="redes">
            O Inicia Sesión con una red social
            <div class="iconos">
                <fa-icon class="Facebook" [icon]="faFacebook" ></fa-icon>
                <fa-icon class="Google" [icon]="faGoogle" ></fa-icon>
                <fa-icon class="Apple" [icon]="faApple" ></fa-icon>
            </div>
        </div>
    </div>
</div>