<div class="contenedor-perfil">
    <div class="titulo">
        <fa-icon [routerLink]="['/categorias']" routerLinkActive="router-link-active"  [icon]="faArrowLeft" ></fa-icon>
        Mi Perfil
    </div>
    <div class="datos-principales">
        <img *ngIf="Usuario.ImagenUsuario != undefined" class="rounded rounded-circle" src="../../../assets/images/fotos perfil/{{Usuario.ImagenUsuario}}" alt="">
        <div class="datos">
            <div class="nombre-completo">{{Usuario.NombreUsuario}}</div>
            <div class="numero"> {{Usuario.Telefono}}</div>
            <div class="correo">{{Usuario.Correo}}</div>
            <button (click)="editarUsuario()" class="btn btn-editar mt-3" [disabled]="(btnEditar || !formularioUsuario.valid)" >Editar</button>
        </div>
    </div>
    <div class="datos-generales">
        <p >Mis Datos:</p>
        <form [formGroup]="formularioUsuario">
            Foto de Perfil: <div class="input-group mb-3">
                                <input type="file" formControlName="ImagenUsuario" class="form-control" id="foto">
                            </div>
            Nombre Completo:  <input formControlName="NombreUsuario" class="form-control mb-1" placeholder="Nombre Usuario" type="text">
            Correo:<input formControlName="Correo" class="form-control mb-1" placeholder="Correo" type="email">
            Teléfono:<input  formControlName="Telefono" class="form-control mb-1" placeholder="Número de teléfono" type="tel">
        </form>
        <button *ngIf="Usuario.Ubicacion != undefined" [routerLink]="['/ubicacion']" routerLinkActive="router-link-active"  class="btn btn-ubicacion">Ubicación:  {{Usuario.Ubicacion.NombreUbicacion}}</button>
        <button *ngIf="Usuario.Tarjeta != undefined" [routerLink]="['/tarjeta']" routerLinkActive="router-link-active"  class="btn btn-tarjeta">Tarjeta: {{Usuario.Tarjeta.Numero}}</button>
    </div>
    <div class="ajustes">
        <p >Acciones:</p>
        <button class="btn btn-contraseña">Cambiar Contraseña</button>
        <button [routerLink]="['/inicio-sesion']" routerLinkActive="router-link-active"  class="btn btn-danger">Cerrar Sesión</button>
    </div>
</div>