<div class="fast-market">
    <app-barra-superior style="flex: 1;"></app-barra-superior>
    <div class="contenedor-mapa">
        <div class="titulo">
            <fa-icon [routerLink]="['/categorias']" routerLinkActive="router-link-active"  [icon]="faArrowLeft" ></fa-icon>
            Ubicación
        </div>
        <div id="mapa" class="mapa shadow"></div>
        <div class="datos shadow">
            <form [formGroup]="formularioUbicacion">
                <div class="coord-name">
                    <label>Nombre Dirección: </label>
                    <input formControlName="NombreUbicacion" class="form-control" placeholder="Nombre Usuario" type="text">
                </div>
                <div class="coord">
                    <label>Lat: </label> <br>
                    <input formControlName="lat" class="form-control" type="number">
                    <label>Lng: </label> <br>
                    <input formControlName="lon" class="form-control" type="number">
                </div>
            </form>
            <button (click)="editarUbicacion()" [disabled]="(btnEditar || !formularioUbicacion.valid)" class="btn "> Editar Ubicación </button>
        </div>
        
    </div>
</div>
