.fast-market{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.contenedor-mapa{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.mapa{
    background-color: white;
    width: 90%;
    height: 90%;
    border-radius: 20px;
}