<div class="fast-market">
    <app-barra-superior *ngIf="false" style="flex: 1;"></app-barra-superior>
    <app-buscar *ngIf="false" style="flex: 1;"></app-buscar>
    <app-contenedor-categorias *ngIf="false" style="flex: 1;" ></app-contenedor-categorias>
    <app-contenedor-comercios *ngIf="false" style="flex: 1;" ></app-contenedor-comercios>
    <app-inicio-sesion *ngIf="true" style="flex: 1;" ></app-inicio-sesion>
    <app-registro *ngIf="false" style="flex: 1;" ></app-registro>
    <router-outlet></router-outlet>
</div>

