<app-barra-superior></app-barra-superior>
<div class="contenedor-historial">
    <div class="estado-orden">
        <label > Pendientes </label>
        <label > Entregados</label>
    </div>
    <div class="ordenes">
        <div *ngFor="let orden of ordenes" class=" shadow orden">
            <img src="../../../assets/images/orden.productos[0]._id[0].Comercio[0].ImagenComercio" alt="">
            <div class="datos">
                <label class="nombre"> {{orden.productos[0]._id[0].Comercio[0].NombreComercio}}</label>
                <label class="fecha"> {{orden.fecha}}</label>
                <label class="direccion"> {{orden.productos[0]._id[0].Comercio[0].Direccion}} </label>
            </div>
        </div>
    </div>
</div>