.contenedor-historial{
    background-color: #f4f4f4;
    width: 100%;
    min-height: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px
}
.titulo{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    color: #FAA613;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

.ordenes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.estado{
    display: flex;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    align-items: center;
}

.orden{
    display: flex;
    width: 100%;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
}

.datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}



.datos label{
    margin-bottom: 0px;
}

.datos .nombre{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    color:#688E26 ;
}

.datos .fecha{
    font-size: 15px;
    font-weight: lighter;
    color: #688E26;
}

.datos .direccion{
    font-size: 15px;
    font-weight: 400;
}

.producto{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    align-items: center;
    box-sizing:border-box;
    border-radius: 10px;
    margin-bottom: 10px;
}


.img-producto{
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 10px;
    
}



.datos-producto p{
    font-size: 12px;
    font-style: italic;
    font-weight: lighter;
}


.datos-producto .nombre-producto{
    font-size: 15px;
    margin-left: 15px;
    flex: 1;

}

.datos-producto  .precio{
    font-size: 17px;
    font-weight: bold;
    margin-left: 20px;
    min-width: 50px;
}


.cantidad {
    color: #FAA613;
}

.cabecera{
    display: flex;
    font-size: 18px;
    font-weight: 500;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 30px;
    align-items: center;
}

.motorista{
    padding-left: 10px;
    margin-bottom: 8px;
}

.estado-e{
    color: #28a745;
}

.estado-p{
    color: #dc3545;
}