<div class="nav">
    <div class="icono-usuario">
        <fa-icon class="icono " [routerLink]="['/perfil']" routerLinkActive="router-link-active"   [icon]="faUser"></fa-icon>
        <p>{{NombreUsuario}}</p>
    </div>
    <fa-icon class="icono"  [icon]="faMapMarkerAlt"></fa-icon>
    <fa-icon class="icono" (click)="abrirCarrito(modalCarrito)" [icon]="faShoppingCart"></fa-icon>
    <div class="productos-carrito rounded rounded-circle"> {{CarritoUsuario.length}}</div>
</div>

<!-- Ventana modal de carrito de compras -->
<ng-template #modalCarrito let-modal>
    <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Carrito de Compras</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="contenedor-carrito">
            <div class="producto shadow" *ngFor="let producto of CarritoUsuario">
                <img class="img-producto" src="../../../assets/images/productos/{{producto.ImagenProducto}}" alt="Restaurantes">
                <div class="datos-producto">
                    <div class="comercio"> Burger King</div>
                    <div class="sub-contenedor">
                        <div class="cantidad rounded rounded-circle" >{{producto.Cantidad}}</div>
                        <div class="nombre-producto"> {{producto.Producto}}</div>
                        <div class="precio"> L. {{producto.Subtotal / producto.Cantidad}}</div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
    <div class="modal-footer container ">
        <div class="totales row ">
            <div class="subtotales col-6">
                <div class="form-label">Subtotal:</div>
                <p>L. 720 </p>
                <div class="form-label">Envío</div>
                <p>L. 35 </p>
            </div>
            <div class="total col-6">
                <div class="form-label">Total Pagar</div>
                <p>L. 755 </p>
            </div>
        </div>
    <button type="button" class="btn btn-success col-12" (click)="modal.close('Save click')">Procesar mi Orden</button>
    </div>
</ng-template>