<div class="nav">
    <div class="icono-usuario">
        <fa-icon class="icono " [routerLink]="['/perfil']" routerLinkActive="router-link-active"   [icon]="faUser"></fa-icon>
        <p>{{NombreUsuario}}</p>
    </div>
    <fa-icon [routerLink]="['/historial']" routerLinkActive="router-link-active"  class="icono"  [icon]="faHistory"></fa-icon>
    <fa-icon [routerLink]="['/ubicacion']" routerLinkActive="router-link-active"  class="icono"  [icon]="faMapMarkerAlt"></fa-icon>
    <fa-icon class="icono mr-3" (click)="abrirCarrito(modalCarrito)" [icon]="faShoppingCart"></fa-icon>
    <div class="productos-carrito rounded rounded-circle"> {{ProductosCarrito}}</div>
</div>

<!-- Ventana modal de carrito de compras -->
<ng-template #modalCarrito let-modal>
    <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Carrito de Compras</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div *ngIf="ver == 'carrito'" class="contenedor-carrito">
            <div class="producto shadow" *ngFor="let producto of CarritoUsuario">
                <img class="img-producto" src="../../../assets/images/productos/{{producto._id.ImagenProducto}}" alt="Restaurantes">
                <div class="datos-producto">
                    <div class="comercio"> {{producto._id.Comercio[0].NombreComercio}}</div>
                    <div class="sub-contenedor">
                        <div class="cantidad rounded rounded-circle" >{{producto.Cantidad}}</div>
                        <div class="nombre-producto"> {{producto._id.NombreProducto}}</div>
                        <div class="precio"> L. {{producto._id.Precio}}</div>
                    </div>
                    
                </div>
                
            </div>
        </div>
        <div *ngIf="ver == 'ubicacion'" class="contenedor-ubicacion">
            <div id="mapa" class="mapa shadow"></div>
        </div>
        <div *ngIf="ver == 'tarjeta'" class="contenedor-tarjeta">
            <label > Desea continuar con el metodo de pago agregado?: </label>
            <button [routerLink]="['/tarjeta']" routerLinkActive="router-link-active"  class="btn btn-tarjeta" (click)="verTarjeta(); cabiarTarjeta()">Tarjeta: *** {{tarjeta}}</button>
        </div>
    </div>
    <div class="modal-footer container ">
        <div class="totales row ">
            <div class="subtotales col-6">
                <div class="form-label">Subtotal:</div>
                <p>L. {{subtotal}} </p>
                <div class="form-label">Envío</div>
                <p>L. {{envio}} </p>
            </div>
            <div class="total col-6">
                <div class="form-label">Total Pagar</div>
                <p>L. {{total}} </p>
            </div>
        </div>
    <button *ngIf="ver == 'carrito'" type="button" class="btn btn-success col-12" (click)="confirmarUbicacion()">Procesar mi Orden</button>
    <button *ngIf="ver == 'ubicacion'" type="button" class="btn btn-success col-12" (click)="verTarjeta()">Confirmar Ubicación</button>
    <button *ngIf="ver == 'tarjeta'" type="button" class="btn btn-success col-12" (click)="modal.close('Save click'); verCarrito(); sweet()">Finalizar Compra</button>
    </div>
</ng-template>